.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tag-btn {
  margin: 15px;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.tag-btn.selected {
  background-color: #f8b5c1;
  color: white;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.cancel-btn, .filter-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cancel-btn {
  background-color: #c4c4c4;
}

.filter-btn {
  background-color: #f8b5c1;
  color: white;
}

.slider-container {
  margin: 30px 0;
}

.slider-container label {
  margin-bottom: 15px; /* Add space between label and slider */
  display: block;
}

.slider .rc-slider-track {
  background-color: #f8b5c1 !important; /* Custom track color */
}

.slider .rc-slider-handle {
  border-color: #f8b5c1 !important;
  background-color: #f8b5c1 !important; /* Custom handle color */
}

.slider .rc-slider-rail {
  background-color: #ddd !important;
}

.modal-actions {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.options-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.option-btn {
  margin: 5px 0;
  padding: 8px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.option-btn.selected {
  background-color: #d1d1d1;
}
