@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* App.module.css */
.app {
  text-align: center;
}

.appHeader {
  background-color: #987070;
  padding: 5px 30px 5px 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appLogo {
  height: 120px;
}

.appNav {
  display: flex;
  gap: 20px;
}

.appLink:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
  background-color: #FFF0D1;
  min-height: calc(120vh - 60px); /* Adjusted height to ensure space for footer */
  box-sizing: border-box; /* Include padding in height calculation */
}

.footer {
  padding: 10px;
  background-color: #987070;
  color: #FFF0D1;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  box-sizing: border-box; /* Include padding in width calculation */
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 90px;
  padding: 10px 0;
  transition: 0.4s;
  color: #594a42
}

button:hover {
  color: #594a42;
  box-shadow: 0 0 20px rgb(255, 255, 255);
  background-color: #fcebd6;
}
